* {
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
}

h1,
h2 {
  font-family: 'HKGroteskBold', sans-serif;
}

body.light-mode {
  background-color: white;
  color: black;
}
body.dark-mode {
  background-color: black;
  color: white;
}
